<h2>Просрочка</h2>

<style>
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
</style>

<table>
    <thead>
        <tr>
            <th>Участник</th>
            <th>Задержка (0-2)</th>
            <th>Опоздание (3-7)</th>
            <th>Просрочка (7+)</th>
            <th>Суммарно просрочено</th>
        </tr>
    </thead>
    <tbody>
    <% @overdues.each do |overdue| %>
        <tr>
            <td><%= overdue.user %></td>
            <% overdue.categories.each do |count| %>
                <td><%= count %></td>
            <% end %>
            <td><%= overdue.get_sum %></td>
        </tr>
    <% end %>
    </tbody>
</table>

<% def print_category(overdue, name, i) %>
    <div class="<%= name %>">
        <% (1..overdue.categories[i]).each do |n| %>
            <div class="block <%= name %>-block">
            </div>
        <% end %>
    </div>
<% end %>

<div class="overdue">
    <div class="header">
        <div class="text user">Участник</div>
        <div class="text sum">Суммарная задержка</div>
        <div class="rest-row">"Достижения"</div>
    </div>
    <% @overdues.each do |overdue| %>
    <div class="row">
        <div class="text user">
            <%= overdue.user %>
        </div>

        <div class="rest-row">
            <div class="text sum">
                <%= overdue.get_sum %>
            </div>

            <% print_category(overdue, "small", 0) %>
            <% print_category(overdue, "average", 1) %>
            <% print_category(overdue, "large", 2) %>
        </div>
    </div>
    <% end %>
</div>

<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'overdue', :plugin => 'overdue' %>
<% end %>
